.home{
    width: 1005px;
    margin: 50px auto;
  h1{
    margin-top: 30px;
  }
  .home-book-wrap{
    
    ul{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      .item{
        width: 181px;
        height: 181px;
        position: relative;
        margin: 10px;
        a{
          img{
            width: 100%;
          }
          span{
            position: absolute;
            display: block;
            opacity: 0;
            width: 181px;
            height: 181px;
            top: 0;
            left: 0;
            color: #fff;
            background: rgba(0,0,0,.5);
            padding: 30px;
            box-sizing: border-box;
            transition: .5s;
          }
          &:hover span{
            opacity: 1;
          }
        }
      }
    }
  }
}