@charset "utf-8";

//변수
$primary: #70b9be;
$text1: #0a2533;
$text2: #ff5b5b;
$stroke: #e6ebf2;
$bg: #f1f5f5;
$navbg: rgba(0,0,0,.7);
$gray1: #96a1b0;
$gray2: #748189;
$white: #fff;
$black: #000;
$shade7: #709799;
$shade6: #5f8486;
$shade5: #636c6d;
$shade4: #435556;
$shade3: #313e3f;
$shade2: #222a2a;
$shade1: #101314;
$tint1: #a5babb;
$tint2: #d5dcdd;
$tint3: #fafafa;
$rem: 0.8rem;
$ff: 'Pretendard', sans-serif;
$mobile: 0px;
$tablet: 768px;
$desktop: 992px;

$breakpoints: (
   'sm': (
      min-width: $mobile,
      max-width: $tablet -1px,
   ),
   'md': (
      min-width: $tablet,
      max-width: $desktop -1px,
   ),
   'lg': (
      min-width: $desktop,
   ),
);

@mixin media($size){
   $query: map-get($breakpoints, $size );
   $min-width: map-get($query, min-width);
   $max-width: map-get($query, max-width);

   @if $min-width and $max-width {
      @media (min-width: #{$min-width}) and (max-width: #{$max-width}){
         @content;
      }

   } @else if $min-width {
      @media (min-width: #{$min-width}){
         @content;
      }
   }@else if $max-width {
      @media (max-width: #{$max-width}){
         @content;
      }
   }
}
@mixin df($d: row, $just: space-evenly, $align: center, $g: 1rem) {
   display: flex;
   flex-direction: $d;
   justify-content: $just;
   align-items: $align;
   gap: $g;
   @content;
}
@mixin item($c: 50%, $a: 1, $b: 1) {
   flex-shrink: $a;
   flex-grow: $b;
   flex-basis: $c;
   @content;
}
@mixin padding($l: auto, $t: auto, $r: auto, $b: auto) {
   padding-left: $l;
   padding-top: $t;
   padding-right: $r;
   padding-bottom: $b;
}
@mixin font($s: 1rem, $w: 500, $c: $text2, $a: left, $f: $ff) {
   font-family: $f;
   font-size: $s;
   font-weight: $w;
   color: $c; /* $c */
   text-align: $a;
   @content;
}
@mixin psudo() {
   content: '';
   position: absolute;
   @content;
}
%cut {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Pretendard', sans-serif;
}
body {
   line-height: 1.75;
   font-size: 1.6rem;
   text-decoration: none;
}

a {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Pretendard', sans-serif;   line-height: 1.75;
   font-size: 1.6rem;
   text-decoration: none;
}

